
.navbar {
      background-color: tomato;
}

.navbar a{
    margin-right: 10px;
}
.navbar .active{
    background-color: green;

}

.product .header{
    background-color: tomato;
    
}
.product .header a{
    margin-right: 10px;
}